/* footer-mobile.css: Estilos responsivos para móvil (max-width: 768px) */

@media (max-width: 768px) {
  .footer-about .box {
    display: none;
  }
  .footer-container {
    padding: 0.5rem 0.2rem;
  }
  .footer-info{
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    padding-left: 2rem;
  }
  .footer-info img {
    width: 300px;
  }
  .footer-info .info-text {
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    line-height: 5px;
  }
  .footer-info i{
    font-size: 30px;
  }
  .container-redes {
    justify-content: center;
    padding-right: 0;
    gap: 10px;
  }
  .btn-registrate {
    width: 100%;
    max-width: 180px;
    height: 40px;
    font-size: 0.9rem;
    border-radius: 12px;
    margin-top: 0.5rem;
    margin-left: 3rem;
  }
} 