@import '.variables.css';

/** TABLE OF CONTENTS
------------------------------------------------------------/

1 - Hero Principal
2 - Contadores
3 - Tutores destacados
4 - Anuncio Potencial
5 - Busca tutorias
6 - Alianzas

/// END TABLE OF CONTENTS 
------------------------------------------------------------/

/**--- 1 - Hero Principal --**/
.hero {
  height: 100vh;
  width: 100%;
  background: #073B4C;
  background: linear-gradient(180deg, rgba(7, 59, 76, 1) 12%, rgba(7, 59, 76, 1) 46%, rgba(7, 59, 76, 1) 57%, rgba(21, 107, 138, 1) 94%, rgba(33, 158, 188, 1) 100%);  align-items: center;
}

.hero-container {
  max-width: 100%;
  display: flex;
  margin: 0 0;
  padding-top: 8rem;
}

.hero-text {
  flex: 1;
  padding: 6rem 0 4rem 5rem;
  line-height: 1;
  color: var(--secundary-color2);
}

.hero-title-arriba{
  font-size: 3em !important;
  font-weight: var(--font-light);
  color: var(--secundary-color2)
}
.hero-title-abajo{
  font-size: 4em !important;
  font-weight: var(--font-bold);
}

.hero-subtext {
  font-size: 1.1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #e0f7fa;
  line-height: 1.2em;

}

.search-box {
  display: flex;
  max-width: 450px;
  border-radius: 50px;
  overflow: hidden;
  background-color: white;
  height: 50px;
}

.search-box input {
  flex: 1;
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 50px 0 0 50px;
}

.search-box button {
  background-color: #219EBC;
  border: none;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  margin: 0.4em;
}

.icon-search {
  color: #e0f7fa;
}

.hero-image {
  flex: 1;
  min-width: 280px;
  text-align: right;
  padding:4em 1em 0 0;
}

.hero-image img {
  max-width: 480px;
  width: 100%;
  height: auto;
}