@import './variables.css';

/** TABLE OF CONTENTS
------------------------------------------------------------/

1 - Navbar

/// END TABLE OF CONTENTS 
------------------------------------------------------------*/
.navbar {
    background-color: #24A3BF;
    border-radius: 50px;
    padding: 0.8rem 1.5rem;
    width: 100%;  
    position: absolute;
    height: 90px;
    margin: 1.7em auto 1.7em
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

.navbar-left{
  display: flex;
  align-items: center;
  gap: 1.5rem; /* espacio solo entre logo y links */ 
}

.nav-i {
  width: 200px;
  height: auto;
  margin: 0 0 0 4em;
}
.navbar-links ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0 0;
  padding: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 0.5px; /* Aumenta o reduce espacio horizontal entre caracteres */
  transition: opacity 0.3s;
}

.navbar-links a:hover {
  opacity: 0.8;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-language {
  background: transparent;
  font-size: 1rem;
  color: white;
  border: none;
  font-weight: var(--font-bold);
  cursor: pointer;
  letter-spacing: 0.5px; /* Aumenta o reduce espacio horizontal entre caracteres */

}

.btn-outline {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-outline:hover {
  background-color: white;
  color: #24A3BF;
}

.navbar-icon {
  background-color: white;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1rem;
}

.icon-white{
    color: #24A3BF;

}